<div class="create-post-container" style="width: 600px; margin: 0 auto;">
  <h1>Create a Post</h1>
  <form id="post-form">
    <label>Title</label>
    <input type="text" id="title" name="title"><br><br>
    <label>Body</label>
    <textarea type="text" id="body" name="body" style="height: 300px;"></textarea><br><br>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create
      
    </button>
  </form>


</div>

<script>

  const postFormHandler = async (event) => {
  event.preventDefault();

  const title = document.querySelector("#title").value.trim();
  const body = document.querySelector("#body").value.trim();

  if (title && body) {
    const response = await fetch("/api/posts", {
      method: "POST",
      body: JSON.stringify({ title, body }),
      headers: { "Content-Type": "application/json" },
    });
    const json = await response.json();
    if (response.ok) {
      document.location.replace("/dashboard");
    } else {
      alert(json.message);
    }
  }
};

document
  .querySelector("#post-form")
  .addEventListener("submit", postFormHandler);


</script>
