<div>
  <h2>
    {{post.title}}
  </h2>
  <p>
    {{post.body}}
  </p>
  <p>
    - {{post.user.email}}
  </p>
  <hr>
  {{#each post.comments }}
    {{> comment body=body user=user}}
  {{/each}}
</div>